
@{
    ViewBag.Title = "TextRPG";
}

<div class="container-fluid">
    <div class="row add-top-margin">
        <div class="row">
            <div class="row">
                <div class="col-sm-3">
                    <a href="@Url.Action("Index", "Projects")" class="">
                        <span class="fa fa-arrow-circle-left"></span> Back to Project Directory
                    </a>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <h2>TextRPG</h2>
            </div>
            <div class="col-sm-12 text-center">
                <a href="https://github.com/scottkrohn/TextRPGBattleSystem" target="_blank" style="margin-bottom: 10px;" class="btn btn-primary"><span class="fa fa-github-alt"></span> View on Github</a>
            </div>
            <div class="col-sm-12 text-center">
                <p>This is a text based RPG battle system. A user can choose from several player classes and attempt to battle their way to level 10 to beat the game. 
                Players earn gold and experience points for defeating enemies, and learn new abilities every other level. There are three boss battles when a player 
                reaches level 3, 6 and 10. After each battle the player will have the option to upgrade weapons in the store.</p>
            </div>
        <div class="row">
            <div class="col-md-12 text-center ">
                <h4 id="textrpg_description">Start Game</h4>
                <img src="~/Content/Images/startgame.JPG" id="main_textrpg_image" class="img-responsive center-response-img thin-border"/>
            </div>
            <div class="col-md-12 text-center add-top-margin">
                <a href="" id="thumb" data-large_img="/Content/Images/startgame.JPG">
                    <img src="~/Content/Images/Thumbs/startgame_thumb.jpg" alt="Start Game"/></a>
                <a href="" id="thumb" data-large_img="/Content/Images/battle.JPG">
                    <img src="~/Content/Images/Thumbs/battle_thumb.jpg" alt="Battle"/></a>
                <a href="" id="thumb" data-large_img="/Content/Images/battleend.JPG">
                    <img src="~/Content/Images/Thumbs/battleend_thumb.jpg" alt="End Battle"/></a>
                <a href="" id="thumb" data-large_img="/Content/Images/boss.JPG">
                    <img src="~/Content/Images/Thumbs/boss_thumb.jpg" alt="Boss Battle"/></a>
                <a href="" id="thumb" data-large_img="/Content/Images/shop.JPG">
                    <img src="~/Content/Images/Thumbs/shop_thumb.jpg" alt="Shop"/></a>
            </div>
            
        </div>

    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"> </script>

<!-- Set the 'src' attribute of the main image based on the thumbnail clicked.-->
<script>
    $("a#thumb").click(function (event) {
        event.preventDefault();
        var fullsize_photo = $(this).data('large_img');
        $("#textrpg_description").html($(this).find("img").attr("alt"));
        $("img#main_textrpg_image").attr("src", fullsize_photo);
    });
</script>

